@import 'init';
/* stylelint-disable */


.uwm-header {

  .navbar {
    padding: 0;
  }

    // @include media-breakpoint-down('sm') {
    //   .hidden-xs {
    //     display: none;
    //   }
    // }

    // position: relative;

    .navbar-expand-md #mainNavigationMobile.navbar-collapse {
      @include media-breakpoint-up('md') {
        display: none !important;
      }
    }
  
    a, a:hover, a:active, a:focus {
      text-decoration: none;
    }
  
    .purple {
  
      color: color('white');
      padding-top: 10px;
      padding-bottom: 10px;
      background: $gradient-purple-horizontal;
    }

    .navbar-brand {
      line-height: 19px;
      margin-left: 1em;

      @include media-breakpoint-up('md') {
        margin-left: 0;
      }

      // @include media-breakpoint-up('lg') {
      //   margin: 0 0 0 30px;
      // }
    }

    .nav-link {
      padding: 10px 15px;
      &:hover {
        color: theme-color('link-blue');
        background: transparent;
      }
      &:after {
        display: none;
      }
    }

    .uwm-main-navigation {
      padding-left: 22px;
    }
      
  
      
  
  .header-search {

    position: relative;

    //@include float-right();
    float: right;
    margin: 0 0 0 20px;
    // @include media-breakpoint-up(sm) {
    //   margin-right: 30px;
    // }

    input.form-control {
      background-color: rgba(255, 255, 255, 0.5);
      color: color('white');
      border: none;
      border-radius: 0;
      height: 28px;
      margin: 4px 0 0 0;
      padding-right: 30px;
      width: 172px;
    }

    .fa-search {
      position: absolute;
      right: 0;
      top: 3px;
      font-size: 16px;
      cursor: pointer;
      z-index: 10;
      height: 30px;
      width: 30px;
      padding: 8px;
    }
  }
  
  @include media-breakpoint-up(md) {
    .uwm-quick-links {
      font-size: 12px;
      ul {
        margin: 0;
        // float: right;
        li {
          // float: left;
          padding: 0;
          height: 38px;
          display: inherit;
        }
      }
  
      li > a {
        color: color('white');
        padding: 10px 8px;
        
        &:hover {
          color: color('white');
          background-color: transparent;
          text-decoration: underline;
        }
      }
  
      i.uw-b {
        @include uw-skew(-15deg);
        width: 1px;
        height: 12px;
        opacity: .2;
        background: color('white');
        display: inline-block;
        margin: 14px 2px 0 2px;
        box-shadow: 0 3px 0 #dcdcdc;
      }
  
    }

  .white {
    .uwm-main-navigation ul {
      font-size: 14px;
    }

    // Menu flyouts
    .dropdown-menu {
      box-shadow: none;
      margin: 0 0 0 -20px;
      padding: 0 10px 10px;
      border-top: 0 solid transparent;
      background: darken(#fff, 3%);
      width: 300px;
      border-radius: 0;
  
      //li {
  
        //padding: 0;
  
        a.dropdown-item {
          color: theme-color('text');
          font-size: 14px;
          padding: 10px;
          border-bottom: 1px solid #e5e5e6;
          background: transparent;
          white-space: normal;
  
          i.fa {
            float: right;
            display: block;
            padding: 2px 0 0 0;
          }
  
          &:hover, &:focus, &:active {
            color: theme-color('link-blue');
            i.fa {
              color: theme-color('link-blue');
            }
          }
  
          &.anchor, &[href^="#"] {
            color: color('purple');
            font-style: italic;
            padding-top: 10px;
          }
  
          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }
  
        }
        
  
      //}
  
  
      }
  
    }

    .uwm-make-a-gift-button {

      overflow: hidden;
      min-width: 125px;
      // position: absolute;
      // right: 0;
      // top: 0;
      // padding-right: 0;
  
      ul {
        // float: right;
  
        li {
          padding: 0;
          a {
            position: relative;
            float: right;
            font-size: 12px;
            text-transform: uppercase;
            padding: 10px 0 10px 30px;
            white-space: nowrap;
            transition: all 0.35s ease-out;
            @include media-breakpoint-up(lg) {
              padding-right: 30px;
            }
            i.u-a {
              @include uw-skew(-18deg);
              position: absolute;
              right: 0;
              width: 200px;
              height: 200px;
              left: 0;
              top: -50px;
              border-left: 5px solid #cfcfcf;
              background: #e5e5e6;
              z-index: -1;
            }
            &:hover {
              background: transparent;
              i.u-a {
                border-left: 5px solid darken(#cfcfcf, 5%);
                background: lighten(#e5e5e6, 5%);
                @include uwmed-bezier-transition-transition-timing();
              }
            }
  
          }
        }
  
      }
  
    }
  }
  .search-collapse {

    position: relative;
    opacity: .8;
    background: #efefef;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    form {
      //opacity: .8;
      //width: 100%;
      padding: 10px 0;

      .input-group {
        width: 100%;
        position: relative;

        .uw-fa {
          position: absolute;
          top: 5px;
          z-index: 6;
          height: 30px;
          width: 30px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          text-align: center;
          color: #716F77;
        }
        .uw-fa.fa-search {
          left: 10px;
          padding-top: 4px;
          width: 20px;
          height: 19px;
          color: #716F77;
        }
        button.uw-fa {
          right: 10px;
          height: 20px;
        }

        input.form-control,
        .form-control:not(:first-child):not(:last-child) {
          border-radius: 15px;
          width: 100%;
          padding: 0 40px;
        }

      }

    }

  }
}
  

  
      //position: relative;
      // .navbar {
      //   min-height: 0;
      //   margin: 0;
      // }
  
  .desktop-main-navigation {

    // min-width: 650px;
    // padding-right: 0;

    a, a:hover, a:focus, a:active {
      color: theme-color('text');
    }

    ul.navbar-nav > li {

      padding: 0;

      
        // &:after {
        //   // More forgiving hover zone
        //   position: absolute;
        //   top: 0;
        //   bottom: -10px;
        //   left: 0;
        //   right: 0;
        //   content: "";
        //   z-index: 1;
        // }
      }

    }

    i.uw-b {
      @include uw-skew(-15deg);
      width: 1px;
      height: 18px;
      opacity: .2;
      background: #000;
      display: inline-block;
      margin: 10px 6px 0 6px;
      box-shadow: 0 3px 0 #dcdcdc;
    }

    // Open menus:
    li.uw-open, li.uw-hold-open {
      > ul.dropdown-menu {
        display: block !important;
      }
      > a .fa-angle-down:before {
        content: "\f106"; // angle-up
      }
    }
  
      
  
  
  
    
  
  .col-md-2.float-right.header-search {
    padding-left: 0;
  }

  .row.shadow {
    margin: 0;
    height: 1px;
    background: #dcdcdc;
    box-shadow: 0 2px 2px #dcdcdc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  
  
