@import 'init';
/* stylelint-disable */
.uwm-header {

    @include media-breakpoint-down('sm') {
      .hidden-xs {
        display: none;
      }
    }

    position: relative;
  
    a, a:hover, a:active, a:focus {
      text-decoration: none;
    }
  
    .row.purple {
  
      color: color('white');
      padding-top: 10px;
      padding-bottom: 10px;
      background: $gradient-purple-horizontal;
  
      .header-logo {

        line-height: 19px;
  
        a.logo {
          margin: 10px 0 0 30px;
          display: inline-block;
        }
  
      }
  
      .header-search {

        position: relative;
  
        @include float-right();
        margin: 0 0 0 20px;
        @include media-breakpoint-up(sm) {
          margin-right: 30px;
        }
  
        input.form-control {
          background-color: rgba(255, 255, 255, 0.5);
          color: color('white');
          border: none;
          border-radius: 0;
          height: 28px;
          margin: 4px 0 0 0;
        }
  
        .fa-search {
          position: absolute;
          right: 0;
          top: 3px;
          font-size: 16px;
          cursor: pointer;
          z-index: 10;
          height: 30px;
          width: 30px;
          padding: 8px;
        }
      }
  
      .quick-links {
  
        ul {
          @include float-right();
          li {
            @include float-left();
            padding: 0;
            height: 38px;
            display: inherit;
          }
        }
  
        li > a {
          color: color('white');
          padding: 10px 8px;
          font-size: .875em;
          
          &:hover {
            color: color('white');
            background-color: transparent;
            text-decoration: underline;
          }
        }
  
        li > i.uw-b {
          @include uw-skew(-15deg);
          width: 1px;
          height: 12px;
          opacity: .2;
          background: color('white');
          display: inline-block;
          margin: 14px 2px 0 2px;
          box-shadow: 0 3px 0 #dcdcdc;
        }
  
      }
  
    }
  
    .row.white {
  
      position: relative;
      .navbar {
        min-height: 0;
        margin: 0;
      }
  
      .desktop-main-navigation {
  
        min-width: 650px;
        padding-right: 0;
  
        a, a:hover, a:focus, a:active {
          color: theme-color('text');
        }
  
        ul.navbar-nav > li {
  
          padding: 0;
  
          > a.dropdown-toggle {
            padding: 10px 15px;
            &:hover {
              color: theme-color('link-blue');
              background: transparent;
            }
            &:after {
              // More forgiving hover zone
              position: absolute;
              top: 0;
              bottom: -10px;
              left: 0;
              right: 0;
              content: "";
              z-index: 1;
            }
          }
  
          // Menu flyouts
          ul.dropdown-menu {
  
            box-shadow: none;
            margin: 3px 0 0 -20px;
            border-top: 0 solid transparent;
            background: darken(#fff, 3%);
            width: 300px;
  
            li {
  
              padding: 0;
  
              a {
                color: theme-color('text');
                margin: 10px;
                padding: 0 10px 10px 10px;
                border-bottom: 1px solid #e5e5e6;
                background: transparent;
                white-space: normal;
  
                i.fa {
                  float: right;
                  display: block;
                  padding: 2px 0 0 0;
                }
  
                &:hover, &:focus, &:active {
                  color: theme-color('link-blue');
                  i.fa {
                    color: theme-color('link-blue');
                  }
                }
  
                &.anchor, &[href^="#"] {
                  color: color('purple');
                  font-style: italic;
                  padding-top: 10px;
                }
  
              }
              &:last-child > a {
                border-bottom: none;
                padding-bottom: 0;
              }
  
            }
  
            li.dropdown-submenu {
  
              // 3rd level menus:
              ul.dropdown-menu {
                display: none;
                margin: -10px 0 10px 0;
                border: 0 none;
                position: relative;
                width: 85%;
  
                li {
                  a {
                    border: 0 none;
                    padding: 0 0 0 30px;
                  }
                }
  
              }
              &.uw-open, &.uw-hold-open {
                a {
                  border-bottom: 1px solid transparent;
                }
  
              }
  
            }
  
          }
  
        }
  
        i.uw-b {
          @include uw-skew(-15deg);
          width: 1px;
          height: 18px;
          opacity: .2;
          background: #000;
          display: inline-block;
          margin: 10px 6px 0 6px;
          box-shadow: 0 3px 0 #dcdcdc;
        }
  
        // Open menus:
        li.uw-open, li.uw-hold-open {
          > ul.dropdown-menu {
            display: block !important;
          }
          > a .fa-angle-down:before {
            content: "\f106"; // angle-up
          }
        }
  
      }
  
      .make-a-gift-navigation {
  
        overflow: hidden;
        min-width: 200px;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 0;
  
        ul.nav.navbar-nav {
          float: right;
  
          li {
            padding: 0;
            a {
              float: right;
              font-size: 12px;
              text-transform: uppercase;
              padding: 10px 0 10px 30px;
              white-space: nowrap;
              transition: all 0.35s ease-out;
              @include media-breakpoint-up(lg) {
                padding-right: 30px;
              }
              i.fa.u-a {
                @include uw-skew(-18deg);
                position: absolute;
                width: 200px;
                height: 200px;
                left: 0;
                top: -50px;
                border-left: 5px solid #cfcfcf;
                background: #e5e5e6;
                z-index: -1;
              }
              &:hover {
                background: transparent;
                i.fa.u-a {
                  border-left: 5px solid darken(#cfcfcf, 5%);
                  background: lighten(#e5e5e6, 5%);
                  @include uwmed-bezier-transition-transition-timing();
                }
              }
  
            }
          }
  
        }
  
      }
  
    }
  
    .col-md-2.float-right.header-search {
      padding-left: 0;
    }
  
    .row.shadow {
      margin: 0;
      height: 1px;
      background: #dcdcdc;
      box-shadow: 0 2px 2px #dcdcdc;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  
  }
  .uwm-header {

    font-size: 14px;

    .header-main-navigation {
      li {
        font-size: 15px;
        li {
          font-size: 14px
        }
      }
    }

    .uwm-header-mobile {

      font-size: 16px;
      font-weight: 200;

      .nav {

        ul.dropdown-menu > li > a {
          font-size: 16px;
          font-weight: 200;
        }

      }

      .main-links {
        ul.nav > li {
          font-size: 19px;
        }

      }

      .search-collapse {
        form, .fa {
          color: #716F77;
        }

      }

    }
    a {
      &, &:link, &:visited, &:active, &:focus {
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .make-a-gift-navigation a:hover {
      text-decoration: none;
    }


  }
