// Typography
//
// Typography variable and style overrides from Bootstrap _variables.scss. All available variables have been copied
// over, but those variables whose value is not changed here are commented out.
//
// To change the value of a default variable, uncomment the line and remove the !default flag.
//
// Markup: typography.twig
//
// Style guide: sass.variables.typography

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-heading:         "Encode Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

//$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
//$font-size-lg:                ($font-size-base * 1.25) !default;
//$font-size-sm:                ($font-size-base * .875) !default;

//$font-weight-light:           300 !default;
//$font-weight-normal:          400 !default;
$font-weight-medium:          500;
$font-weight-semi-bold:       600;
//$font-weight-bold:            700 !default;

//$font-weight-base:            $font-weight-normal !default;
//$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 3.5626; // 57px
$h2-font-size:                $font-size-base * 2.1875; // 35px
$h3-font-size:                $font-size-base * 1.5;    // 24px
$h4-font-size:                $font-size-base * 1.25;   // 20px
$h5-font-size:                $font-size-base * 1.125;  // 18px
$h6-font-size:                $font-size-base * 1;      // 16px

$h1-font-weight:              $font-weight-normal;
$h2-font-weight:              $font-weight-normal;
$h3-font-weight:              $font-weight-semi-bold;
$h4-font-weight:              $font-weight-bold;
$h5-font-weight:              $font-weight-bold;
$h6-font-weight:              $font-weight-bold;

//$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-family:        $font-family-heading;
$headings-font-weight:        $font-weight-normal;
//$headings-line-height:        1.2 !default;
//$headings-color:              inherit !default;

$display1-size:               2.8125rem; // 45px
$display2-size:               2rem;      // 32px
$display3-size:               1.5rem;    // 24px;
$display4-size:               1.125rem;  // 18px;

$display1-weight:             $font-weight-normal;
$display2-weight:             $font-weight-normal;
$display3-weight:             $font-weight-normal;
$display4-weight:             $font-weight-normal;
//$display-line-height:         $headings-line-height !default;

//$lead-font-size:              ($font-size-base * 1.25) !default;
//$lead-font-weight:            300 !default;

$small-font-size:             87.5%;

//$text-muted:                  $gray-600 !default;

//$blockquote-small-color:      $gray-600 !default;
//$blockquote-font-size:        ($font-size-base * 1.25) !default;

//$hr-border-color:             rgba($black, .1) !default;
//$hr-border-width:             $border-width !default;

//$mark-padding:                .2em !default;

//$dt-font-weight:              $font-weight-bold !default;

//$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
//$nested-kbd-font-weight:      $font-weight-bold !default;

//$list-inline-padding:         .5rem !default;

//$mark-bg:                     #fcf8e3 !default;

//$hr-margin-y:                 $spacer !default;

// Body
$body-bg:                   color("white");
$body-color:                theme-color("text");

// Links

$link-color:                theme-color("text");
$link-decoration:           underline;
$link-hover-color:          theme-color("link-blue");
$link-hover-decoration:     underline;