{% extends '/' ~ directory ~ '/templates/views/views-view.html.twig' %}
{#
/**
 * @file
 * Theme implementation for UWM Locations Search view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * Custom variables:
 * - has_exposed_input_values: boolean - true if any of the exposed input form
 *   fields have a value, which means the user has run a search/filter.
 *
 * @see template_preprocess_views_view()
 * @see uwmbase_preprocess_views_view()
 */
#}
{% block header %}

  {#
    Show any kind of summary text only if there are results.
  #}
  {% if total_rows > 0 %}

    {#
      If the user has run a search/filter, show the configured header text
      summarizing number of results.
    #}
    {% if has_exposed_input_values %}
      {% if header %}
        <header class="results-summary">
          {{ header }}
        </header>
      {% endif %}
    {% else %}
      {#
        Otherwise, when showing initial listing, show alphabetical disclaimer.
      #}
      <header class="results-summary">
        <div class="results-alphabetical-disclaimer">{{ 'The results below display in alphabetical order.'|t }}</div>
      </header>
    {% endif %}

  {% endif %}

{% endblock %}

{% block featured %}
  {% if query_is_empty %}
    {{ uwm_plugin_block('views_block:uwm_locations_search-featured_block') }}
  {% endif %}
{% endblock %}
