@import 'init';

.uwm-featured-story {
    position: relative;
}

.uwm-featured-story__background,
.uwm-bottom-border__angled .uwm-featured-story__background {
  @include angled-edge('inside bottom', 'upper right', #fff, 50);

    &::after {
      width: 100%;
      margin-bottom: -1px;
    }
  }

.uwm-featured-story__background .img-fluid {
  margin: 0;
}

.uwm-bottom-border__straight .uwm-featured-story__background {
  &::after {
    content: none;
  }
}

.uwm-featured-story__title {
  padding-top: 38px;
  width: 100%;

  text-transform: uppercase;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
  color: white;
  letter-spacing: .05em;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;

  position: absolute;
  top: 0px;

  @include media-breakpoint-up('lg') {
    position: static;
    text-shadow: none;
    color: theme-color('text');
  }
}

.uwm-featured-story__content {
  padding-bottom: 38px;
  margin-top: 0;
  position: static;

  @include media-breakpoint-up('lg') {
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    padding-left: 38px;
    padding-right: 38px;
    top: 30px;
  }
}

.uwm-featured-story__content-shadow {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15)
}

.uwm-accent-color__purple .uwm-featured-story__heading {
  color: color('purple');
}

.uwm-accent-color__light-purple .uwm-featured-story__heading {
  color: color('light-purple');
}

.uwm-accent-color__yellow .uwm-featured-story__heading {
  color: color('yellow');
}

.uwm-accent-color__blue .uwm-featured-story__heading {
  color: color('blue');
}

.uwm-accent-color__orange .uwm-featured-story__heading {
  color: color('orange');
}

.uwm-accent-color__teal .uwm-featured-story__heading {
  color: color('teal');
}