@import 'init';

.uwm-featured-story {
    position: relative;
  }

  .uwm-featured-story__background {
    background-size: cover;
    background-position: center;

    min-height: 430px;
    @include angled-edge('inside bottom', 'upper right', #fff, 50);
    &::after {
      width: 100%;
      margin-bottom: -1px;
    }

    @include media-breakpoint-up('xl') {
        min-height: 700px;
    }
  }

  .uwm-featured-story__title {
    position: absolute;
    top: 0;
    width: 100%;

    .block-title {
      text-transform: uppercase;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
      color: white;
      letter-spacing: .05em;
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 500;
      margin-top: 9.5px;

      @include media-breakpoint-up('xl') {
        text-shadow: none;
        color: theme-color('text');
        margin-top: 38px;
      }
    }

    @include media-breakpoint-up('xl') {
      background-color: rgba(255, 255, 255, 0.9);
      padding-left: 38px;
      padding-right: 38px;
      top: 36px;
      width: 44%;

      .uwmed-slant span {
        background-color: color('light-purple');
      }
    }
  }

  .uwm-featured-story__content {
    padding-bottom: 38px;
    width: 100%;
    margin-top: 0;

    @include media-breakpoint-up('xl') {
      background-color: rgba(255, 255, 255, .9);
      position: absolute;
      padding-left: 38px;
      padding-right: 38px;
      top: 116px;
      width: 44%;
    }

    .uwm-featured-story__subheading {
        font-size: $h2-font-size;
        color: color('light-purple');
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 42px;
    }

    .btn, p:last-child{
        margin-bottom: 0;
    }
  }

  .uwmed-slant {
    display: block;
    overflow: hidden;
    height: 4px;
    margin-bottom: 16px;
  
    span {
      transform: skew(-25deg,0);
      display: block;
      height: 2.78px;
      width: 140.75px;
      background-color: white;
      margin: 0 0 15px -100px;
    }
  }