@import 'init';

article.node-res_provider.view-mode-provider_card {

  border: 0 none;
  background-color: transparent;

  .inner {

    position: relative;
    height: 100%;
    /* Setting position and height,
    because we position the CTA absolutely below
     */
    padding: 15px;
    padding-bottom: 60px;
    border: 1px solid $gray-300;
    background-color: $white;

    .full-wide {

      position: relative;
      float: left;
      width: 100%;
      margin: 0 0 1.25rem 0;

      .uwm-icon {
        position: absolute;
        left: 0;
        top: 0;
      }

    }

    .provider-card__image {
      max-width: 40%;
      float: left;
      margin: -15px 15px 15px -15px;

      img.img-fluid {
        margin: 0;
      }
    }

    @include media-breakpoint-up('md') {
      font-size: 0.875rem; // 14px
    }

    h2.provider-card__title {

      .accepting-patients {
        display: block;
        .uwm-icon {
          margin: 8px 8px -4px 0;
        }
      }
    }

    //.provider-card__specialities {
    //  @extend %s-with-icon;
    //}

    .provider-card__appointments {
      @extend %s-with-icon;
    }

    .provider-card__locations {
      @extend %s-with-icon;
    }

    .provider-card__see-more {
      position: absolute;
      bottom: 0;
      padding: 15px;
      margin: 0 0 0 -15px;
    }


  }

  %s-with-icon {
    padding-left: 30px;
  }


}

