{% set color = content.field_uwm_accent_color.0['#title']|lower %}
<a class="btn btn-cta btn-cta-link btn-{{ color }}" href="{{ content.field_uwm_link.0['#url'] }}">{{ content.field_uwm_link.0["#title"] }}
<span class="text-right">></span></a>