.uwm-section__background-gray {
    background-color: $gray-100;
    margin-top: 3.125rem;

}

.field__item .uwm-featured-story + .field__item .uwm-section__background-gray {
    margin-top: 0;
}

.h2-placeholder {
    padding-top: 3.125rem;
}