<div class="row">


  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-blue">Blue</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-indigo">Indigo</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-purple">Purple</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-pink">Pink</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-red">Red</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-orange">Orange</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-yellow">Yellow</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-green">Green</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-teal">Teal</div>
  </div>



  <div class="col-md-4">
    <div class="p-3 mb-3 swatch-cyan">Cyan</div>
  </div>








</div>