{{ uwm_plugin_block('views_exposed_filter_block:uwm_general_search-page_1') }}

{{ uwm_plugin_block('facet_block:general_search_facet_uwmsearchwithin') }}

<div class="submit-wrapper uwm-accent-color__light-purple">
  <a class="btn btn-cta btn-cta-link submit" href="#">SEARCH</a>
  <a class="btn btn-cta btn-cta-link reset" href="/search">RESET</a>
</div>

<div class="col-12 other-search-pages">

  <div class="caps results-tip with-results hidden">All results for
    <em>search</em></div>

  <div class="caps results-tip zero-results-msg">Also see:</div>

  <div class="providers"><a
      href="/search/providers">Search Providers &#x3E;<em></em></a></div>

  <div class="locations"><a
      href="/search/locations">Search Locations &#x3E;<em></em></a></div>

</div>

