<div class="filters-wrap">

  {{ uwm_plugin_block('views_exposed_filter_block:uwm_general_search-page_1') }}

  {{ uwm_plugin_block('facet_block:general_search_facet_uwmsearchwithin') }}

  <div class="submit-wrapper uwm-accent-color__light-purpler">
    <a class="btn btn-cta" href="#">SEARCH</a>
  </div>

  <div class="col-12 results-summary">

    <div class="all">All results for <em>search</em>
    </div>
    <div class="providers"><a href="/search/providers">Search Providers<em></em></a>
    </div>
    <div class="locations"><a href="/search/locations">Search Locations<em></em></a>
    </div>

  </div>

</div>
