{{ uwm_plugin_block('views_exposed_filter_block:uwm_general_search-page_2') }}

{{ uwm_plugin_block('facet_block:general_search_2_facet_uwmsearchwithin') }}

<div class="submit-wrapper uwm-accent-color__light-purple">
  <a class="btn btn-cta btn-cta-link submit" href="#">SEARCH</a>
  <a class="btn btn-cta btn-cta-link reset" href="/search/dx">RESET</a>
</div>

<div class="col-12 other-search-pages">

  <div class="caps results-tip">
    <span class="search-results-msg">All results for <em>search</em></span>
    <span class="zero-results-msg"><em>Also see:</em></span>
  </div>

  <div class="providers"><a
      href="/search/providers">Search Providers &#x3E;<em></em></a></div>

  <div class="locations"><a
      href="/search/locations">Search Locations &#x3E;<em></em></a></div>

</div>
