<div class="filters-wrap">

  {% if current_path == '/search' %}
    {% include "@uwmbase/search/content-top/general-search-header.twig" %}
  {% endif %}

  {% if current_path == '/search/providers' %}
    {% include "@uwmbase/search/content-top/provider-search-header.twig" %}
  {% endif %}

  {% if current_path == '/search/locations' %}
    {% include "@uwmbase/search/content-top/location-search-header.twig" %}
  {% endif %}

</div>

{#<h3>We’re sorry.</h3>#}


{#<p>We couldn’t find any results for your search. Try a different search term or#}
  {#explore additional search options.</p>#}

{#<p><a href="/search/providers">Search for a provider</a>#}
  {#| <a href="/search/locations">Search for a location</a>#}
{#</p>#}

{#<h3>TAKE ME TO</h3>#}

{#<p><a href="/patient-resources/make-an-appointment">Appointments</a>#}
  {#| Urgent care | Virtual care | <a href="/services/primary-care">Primary#}
    {#care</a></p>#}


{#<p><a href="/services">Specialty care</a>#}
  {#| <a href="http://healthlibrary.uwmedicine.org">Condition library</a>#}
  {#| <a href="/patient-resources/ecare">eCare patient portal</a>#}
  {#| <a href="/patient-resources/billing-and-insurance">Billing</a></p>#}

{#<h3>INFORMATION FOR</h3>#}

{#<p><a href="/provider-resource">Providers</a>#}
  {#| <a href="/school-of-medicine">School of Medicine</a>#}
  {#| <a href="/research">Researchers</a></p>#}


{#<h3>CONNECT WITH US</h3>#}

{#<p>If you continue to experience difficulty​, please contact us via our website#}
  {#feedback form.</p>#}

{#<p><a href="/node/feedback">Submit feedback</a></p>#}






