@import 'init';

body {
  background: #fff3f2;
}

body.is-path-search {

  section.content-top {

    .views-exposed-form, .facets-widget-dropdown {

      margin-right: 15px;
      margin-bottom: 10px;

      @include make-col-ready();
      @include make-col(12);

      @include media-breakpoint-down('md') {
        @include make-col(4);
      }
      @include media-breakpoint-down('lg') {
        @include make-col(3);
      }

      // Search text input
      .form-item input.form-text {
        @include media-breakpoint-down('md') {
          @include make-col(7);
        }
      }
      // Search text input
      .dropdown.bootstrap-select {
        @include media-breakpoint-down('md') {
          @include make-col(3);
        }

      }

    }



  }

  section.content-main {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #dcdcdc;
  }

}

#block-hidden-show-region-item, .views-exposed-form span.js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-s.form-item-s.btn.btn-outline-teal {
  display: none;
}



