@import 'init';

body {
	background: #fff3f2;
}

body.is-path-search {

  form, .facets-widget-dropdown {
    @include media-breakpoint-down('md') {
      @include make-col(3);
    }
  }

  .views-exposed-form span.js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-s.form-item-s.btn.btn-outline-teal {
    display: none;
  }

  #block-hidden-show-region-item {
    display: none;
  }

}
