{% set map_api_key = 'AIzaSyC8H18N4yUJDtUDaR9eMpXiqndLwWfd_hQ' %}
{% set map_query =
  'UW Medicine' |trim |url_encode %}


<style>
  .map {
    position: relative;
    /*padding-bottom: 75%;*/
    /*height: 0;*/
    height: 100%;
    overflow: hidden;
  }

  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
</style>

<div class="map">

  {#<iframe#}
  {#src="https://www.google.com/maps/embed/v1/place?key={{ map_api_key }}&q={{ map_query }}&zoom=9"#}
  {#width="800" height="600" frameborder="0" style="border:0"#}
  {#allowfullscreen></iframe>#}

  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d86009.62813413137!2d-122.34445730777995!3d47.64943614427874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sUW+Medicine!5e0!3m2!1sen!2sus!4v1544090807527" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


{#<style>#}
  {#/* Always set the map height explicitly to define the size of the div#}
   {#* element that contains the map. */#}
  {##map {#}
    {#height: 100%;#}
  {#}#}
  {#/* Optional: Makes the sample page fill the window. */#}
  {#html, body {#}
    {#height: 100%;#}
    {#margin: 0;#}
    {#padding: 0;#}
  {#}#}
{#</style>#}
{#<script>#}
  {#// This example requires the Places library. Include the libraries=places#}
  {#// parameter when you first load the API. For example:#}
  {#// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">#}

  {#var map;#}
  {#var infowindow;#}

  {#function initMap() {#}
    {#var pyrmont = {lat: -33.867, lng: 151.195};#}

    {#map = new google.maps.Map(document.getElementById('map'), {#}
      {#center: pyrmont,#}
      {#zoom: 15#}
    {#});#}

    {#infowindow = new google.maps.InfoWindow();#}
    {#var service = new google.maps.places.PlacesService(map);#}
    {#service.nearbySearch({#}
      {#location: pyrmont,#}
      {#radius: 500,#}
      {#type: ['store']#}
    {#}, callback);#}
  {#}#}

  {#function callback(results, status) {#}
    {#if (status === google.maps.places.PlacesServiceStatus.OK) {#}
      {#for (var i = 0; i < results.length; i++) {#}
        {#createMarker(results[i]);#}
      {#}#}
    {#}#}
  {#}#}

  {#function createMarker(place) {#}
    {#var placeLoc = place.geometry.location;#}
    {#var marker = new google.maps.Marker({#}
      {#map: map,#}
      {#position: place.geometry.location#}
    {#});#}

    {#google.maps.event.addListener(marker, 'click', function() {#}
      {#infowindow.setContent(place.name);#}
      {#infowindow.open(map, this);#}
    {#});#}
  {#}#}
{#</script>#}


{#<div id="map"></div>#}
{#<script src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&libraries=places&callback=initMap" async defer></script>#}
