{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{# Death to divs!
{% if content %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endif %}
#}

{% if current_path == '/search' %}
  {% include "@uwmbase/search/content-top/general-search-header.twig" %}
{% endif %}

{% if current_path == '/search/providers' %}
  {% include "@uwmbase/search/content-top/provider-search-header.twig" %}
{% endif %}

{% if current_path == '/search/locations' %}
  {% include "@uwmbase/search/content-top/location-search-header.twig" %}
{% endif %}

{{ content }}
